@model WebApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}


<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVatExcluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVatExcluded)
        </dd>
        <dt class = "col-sm-2">
            Additional files:
        </dt>
        @* Display additional files*@
        <dt class = "col-sm-10">
               @foreach (var item in ViewBag.items)
               {
                   @* Display file name*@
                   <td>@item.Name.ToString() </td>   
 
                   @* Display link to action that downloads the file*@
                   @* Params: path to the file, file name*@
                   <td>@Html.ActionLink("Download", "Download", new { Path = item.Path.ToString(), FileName = item.Name.ToString() }) </td>
                   <br />
                   if (item.Description != null)
                   {
                        @item.Description.ToString() 
                        <br />
                        <br />
                   }
               }
        </dt>
        @{
            string imageName = "IMAGE_" + Model.ProductId+ "_" + Model.Name + ".jpg";
            
        }
    </dl>

            <img src="/Uploads/image/@imageName" onerror="this.src='/Uploads/image/NoImage.jpg'"/>
        

    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
