@using WebApp.Models;
@model WebApp.Models.Product

@{
    ViewData["Title"] = "Product Edition";

    var postedFiles = ViewBag.ProductFiles;
    bool iconExist = false;
    bool imageExist = false;
    if(postedFiles != null)
    foreach(ProductFile item in postedFiles)
    {
        if (item.Name.StartsWith("ICON"))
            iconExist = true;
        if (item.Name.StartsWith("IMAGE"))
            imageExist = true;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>


    <script type="text/javascript">
        
        
        function GetDynamicTextbox(value) {

            return '<div><input type="button" onclick="RemoveFile(this)" value="Remove File"/> <input type="file" name="postedFiles" id="postedFile"> <input type="text" name="fileDescription" class="form-control" placeholder="File description"/></div> <br />';
        }


        function AddNewFile() {

            var div = document.createElement('DIV');

            div.innerHTML = GetDynamicTextbox("");

            document.getElementById("files").appendChild(div);
        }

        function RemoveFile(div) {

            document.getElementById("files").removeChild(div.parentNode.parentNode);
        }

    </script>
</head>
<body>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />

            <div>
                <span class="text-danger">@ViewData["ErrorMessage"]</span>
            </div>

            <div>
                <span class="text-success">@TempData["FileChanged"]</span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatRate" class="control-label"></label>
                <input asp-for="VatRate" class="form-control" />
                <span asp-validation-for="VatRate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVatExcluded" /> @Html.DisplayNameFor(model => model.IsVatExcluded)
                </label>
            </div>
                <div class="form-group">
                    @* TODO - edition of inserted files*@
                    @foreach(WebApp.Models.ProductFile file in postedFiles)
                    {
                        @file.Name;
                        <a asp-controller="ProductFiles" asp-action="Edit" asp-route-id="@file.ProductFileId">Edit</a>
                        <br />

                    }
                </div>
                <br />

                @if(!iconExist)
                {
                    @* Input for product icon*@
                    <div>
                        <span>Select Icon:</span>
                        <input type="file" name="productIcon" />
                        <br />
                    </div>
                    <br />
                }

                @if(!imageExist)
                {
                    @* Input for product image*@
                    <div>
                        <span>Select Image:</span>
                            <input type="file" name="productImage"  />
                        <br />
                    </div>
                    <br />
                }

                <div>
                    @* Input for additional files using javascript to upload multiple files with their descriptions*@
                    <span>Select additional File:</span>
                    <div id="files">
                        <div><input type="button" onclick="AddNewFile()" value="Add File" /></div>
                        <br />
                    </div>

                    <br />

                </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>