@model WebApp.Models.Auction

@{
    ViewData["Title"] = "Auction Details";

    var result = ViewBag.result;
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDraft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>

    </dl>
</div>

<div>
    <span class="text-danger">
        @result
    </span>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuctionId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Observe", "ObservAuction", null, new { id = @Model?.AuctionId })
</div>
