@using WebApp.Models
@using WebApp.Resources.Authentication;
@model WebApp.Models.Auction

@{
    ViewData["Title"] = "Auction Details";

    var result = ViewBag.result;
    var files = ViewBag.items;

}

@await Html.PartialAsync("_BreadcrumbNavigation", (List<BreadcrumbItem>)ViewBag.Breadcrumb)


<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>

        <dt class="col-sm-2">
            Additional files:
        </dt>
        @* Display additional files*@
        <dt class="col-sm-10">
            @if (files != null)
            {
                @foreach (var item in files)
                {
                    @* Display file name*@
                    <td>@item.Name.ToString() </td>

                    @* Display link to action that downloads the file*@
                    @* Params: path to the file, file name*@
                    <td>@Html.ActionLink("Download", "Download", new { Path = item.Path.ToString(), FileName = item.Name.ToString() }) </td>
                    <br />
                    if (item.Description != null)
                    {
                        @item.Description.ToString()
                        <br />
                        <br />
                    }
                }
            }
        </dt>



    </dl>
</div>

<div>
    <span class="text-danger">
        @result
    </span>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuctionId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    @if (User.Identity.IsAuthenticated)
    {
        if(ViewBag.IsObserved == true)
        {
            @Html.ActionLink(Localization.UnObserve, "UnObservAuction", "Auctions", new { id = @Model?.AuctionId })
        }
        else
        {
            @Html.ActionLink(Localization.Observe, "ObservAuction", "Auctions", new { id = @Model?.AuctionId })
        }
    }
</div>
