@using WebApp.Models
@model IEnumerable<WebApp.Models.Auction>

@{
    ViewData["Title"] = "Auctions";

    Pager pager = new Pager();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
   
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_pager" model="@pager" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDraft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                       
                <td style=" overflow: hidden; 
                            text-overflow: ellipsis; 
                            white-space: nowrap;
                            max-width: 300px;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDraft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuctionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuctionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuctionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<partial name="_pager" model="@pager" />