@using WebApp.Models
@using WebApp.Resources.Authentication;
@model IEnumerable<WebApp.Models.DTO.DisplayAuctionsModel>

@{
    ViewData["Title"] = "Auctions";

    Pager pager = new Pager();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    //var usr = User.Claims.FirstOrDefault(x => x.Type.ToLower().Contains("mail"))?.Value;
}

<div class="list--header">
    <h1 class="text--primary text">@Localization.AuctionsIndex</h1>
    @if(User.Identity.IsAuthenticated)
    {
        <p ><a asp-action="Create" class="button button--secondary button--rounded add--auction--button">Create New</a></p>
    }
</div>

<hr/>
    <partial name="_pager" model="@pager" />
<hr />


@foreach (var item in Model) {
        
    <a class="list--link" asp-controller="Auctions" asp-action="Auction" asp-route-id="@item.Auction.AuctionId">
        <div class="auctions--column--container">
            <div class="auction--icon">
                <img class="icon" src="@item.iconPath"/>
            </div>
            <div class="auction--middle--column">
                <div class="auction--title text--primary">
                    @Html.DisplayFor(model => item.Auction.Title)
                </div>
                <hr />
                @if(!item.Auction.IsDraft)
                {
                    <div class="auction--time text--primary">
                        <strong>@Localization.PublishDate: </strong>@item.Auction.PublishedTime
                    </div>
                    <div class="auction--time text--primary">
                        <strong>@Localization.EndDate: </strong>@item.Auction.EndTime
                    </div>
                }
                <br />
                <div class="auction--owner text--primary">
                    <strong>@Localization.Owner: </strong>@item.Auction.Owner.Name
                </div>
            </div>
            <div class="auction--price text--primary">
                @string.Format(item.Bid)
            </div>
        </div>
    </a>
    <hr class="auction--bottom--line"/>
}
<hr />
    <partial name="_pager" model="@pager" />
<hr/>