@using WebApp.Models.DTO
@model List<WebApp.Models.DTO.DisplayAuctionsModel>
@{
    ViewData["Title"] = "Home Page";
    int index = 0;

    List<DisplayAuctionsModel> auctions = ViewBag.InterestingAuctions;
}


<div class="home--container">
    
    <!-- Left side navigation container -->
    <div class="nagigation--categories--container">
        <span class="container--text">
            Categories
        </span>
        <hr />

        @foreach (var category in ViewBag.Categories)
        {
            <div class="nav--item">
                <a asp-action="Auctions" asp-controller="Category" asp-route-id="@category.CategoryId" 
                    class="button button--secondary button--rounded">@category.Name</a>
            </div>
        }

        <hr />
        <div class="nav--item">
            <a asp-action="Index" asp-controller="Categories">More categories</a>
        </div>

    </div>


    <!-- Main container -->

    <div class="main--container">
                <span class="box--text">
                    Recently finished:
                </span>

        <!-- SLIDER -->
        <div class="slide--container">

            <div class="box--container">


                @foreach(var auction in ViewBag.RecentlyFinishedAuctions)
                {
                    TimeSpan timeLeft = (TimeSpan)(auction.Auction.EndTime - DateTime.UtcNow);


                    <div class="slide--item slider--fade">
                        <div class="box--image">
                            <img src="@auction.iconPath" />
                        </div>

                        <div class="box--description">
                            <div class="text--primary box--text">Selled for:</div>
                            <div class="text--secondary box--text box--price">@string.Format(auction.Bid)</div>
                            <div class="text--primary box--text">Ended:</div>
                            <div class="text--secondary box--text box--date">@auction.Auction.EndTime</div>
                        </div>
                    </div>

                }

            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>


        </div>


        <!-- Auctions -->
        <div class="bottom--box--container">
            <hr/>
            <span class="box--text">
                Maybe this will interest you:
            </span>
            
            @for(int i = 0; i < auctions.Count; i+=3)
            {
                <div class="box--horizontal">


                    @for(int j = i; j < i + 3; j++)
                    {

                        if (j >= auctions.Count)
                            break;

                        TimeSpan timeLeft = (TimeSpan)(auctions[j].Auction.EndTime - DateTime.UtcNow);

                        <div class="box box-vertical">
                            <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@auctions[j].Auction.AuctionId">

                                <div class="box--content">
                                    <div class="box--item">

                                        <div class="box--item--image">
                                            <img src="@auctions[j].iconPath" />
                                        </div>

                                        <div class="box--item--text">

                                            <div class="text--primary box--item--text">Current price:</div>
                                            <div class="text--secondary box--item--price">@string.Format(auctions[j].Bid)</div>
                                            <div class="text--primary box--item--text">Ends in:</div>
                                            <div class="text--secondary box--item--date">@auctions[j].Auction.EndTime - end in @timeLeft.Days days</div>

                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                    }


                </div >

            }

        </div>
    </div>
</div>


<form method="post" action="/Home/Question" id="createQuestion" class="add--question">
    <span id="questionFormMessage" class="text-danger error--span"></span>
    <div class="form--group" style="width: 60%;">
        <label class="control--label form--label">E-mail</label>
        <input name="questionEmail" id="questionEmail" class="control--input form--input" />
    </div>
    <textarea style="width: 53%;" class="auction--new--question auction--border background--primary text--primary border--primary" placeholder="@WebApp.Resources.Shared.NewQuestion" name="question" id="question"></textarea>
    <button class="auction--border add--question--button background--primary text--primary border--primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </button>
</form>


<script>

    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide--item");
        
        if (n > slides.length) {slideIndex = 1}  
        
        if (n < 1) {slideIndex = slides.length}
        
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        
        slides[slideIndex-1].style.display = "flex";  
    }

</script>