
@{
    string auctions = "all";

}


<div class="userAccount--container">

    <div class="box--container">

        <div class="box box--horizontal">
            <div class="box box--content">
                <h1 class="box--text">Welcome, @ViewBag.User.Name</h1>
            </div>

            <div class="box box--content box--center">
                <a asp-action="Create" asp-controller="Auctions" class="button button--secondary button--rounded button--group button--group--first"> New Auction  + </a>
                <a asp-action="UserEdition" asp-route-id="@ViewBag.User.UserId" class="button button--secondary button--rounded button--group"> Edit Account </a>
                <a class="button button--secondary button--rounded button--group button--group--last" onclick="generateNewApiKey()">@WebApp.Resources.Shared.GenerateApiKey</a>
            </div>

        </div>

        <div id="generateAPiKeyResult" class="background--secondary text--primary" style="text-align: center; padding: 0.5vh; display: none;"></div>

        <div class="box box--horizontal">

            <div class="box box--vertical">
                <div class="header" >
                    <span class="box--text">
                        @WebApp.Resources.Shared.MyAuctions
                    </span>

                    <button type="button" class="btn button dropdown--button" onclick="showAuctionTypesDropdown()" id="myAuctDropdown">
                        <svg width="45" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg--icon" >
                            <rect width="48" height="48" fill="white" fill-opacity="0.01" />
                            <path d="M40 28L24 40L8 28" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8 10H40" stroke-width="1" stroke-linecap="round" />
                            <path d="M8 18H40" stroke-width="1" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div style="display: flex; justify-content: end">

                    <input type="hidden" name="changeAuctions" id="auctions" />

                    <div id="buttonsDropdown" class="dropdown--auctions text--primary background--primary border--primary">
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="all"  >
                        <button type="submit" value="Show All" onclick="showAuction('all')" name="ShowAll" id="showAll" title="@WebApp.Resources.Shared.Dark" class="btn button text--primary background--primary" style="width: 100%">
                                    @WebApp.Resources.Shared.ShowAll
                        </button>
                    </form>
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="draft" >
                        <button type="submit" value="Show Draft" onclick="showAuction('draft')" name="ShowDraft" id="showDraft" title="@WebApp.Resources.Shared.Light" class="btn button text--primary background--primary" style="width: 100%">
                                @WebApp.Resources.Shared.ShowDraft
                        </button>
                    </form>
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="active" >

                        <button type="submit" value="Show Active" onclick="showAuction('active')" name="ShowActive" id="showActive" title="@WebApp.Resources.Shared.HighContrast" class="btn button text--primary background--primary" style="width: 100%">
                                @WebApp.Resources.Shared.ShowActive
                        </button>
                    </form>
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="ended" >
                        <button type="submit" value="Show Ended" onclick="showAuction('ended')" name="ShowEnded" id="showEnded" title="@WebApp.Resources.Shared.HighContrast" class="btn button text--primary background--primary" style="width: 100%">
                                @WebApp.Resources.Shared.ShowEnded
                        </button>
                    </form>
                    </div>
                </div>
                <div class="box-shadow box--content">
                   
                    @foreach(var auction in ViewBag.MyAuctions)
                    {
                        <hr />
                        <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@auction.AuctionId">
                            <div class="box--item">
                                <div class="box--item--title">Tilte: @auction.Title</div>
                                @if(@auction.IsDraft){
                                    <div id="aType" class="box--item--price">Draft</div>
                                }
                                else if (auction.EndTime < DateTime.UtcNow) {
                                    <div id="aType" class="box--item--price">Ended</div>
                                }
                                else {
                                    <div id="aType" class="box--item--price">Active</div>
                                }
                                <div class="box--item--date">CreationTime: @auction.CreationTime</div>
                            </div>
                        </a>
                    }

                </div>

            </div>


            <div class="box box--vertical">
                <span class="box--text">
                    @WebApp.Resources.Shared.Observed
                </span>
                <div class="box-shadow box--content">

                    @foreach (var auction in ViewBag.MyObservedAuctions)
                    {
                        TimeSpan timeLeft = (TimeSpan)(auction.Auction.EndTime - DateTime.UtcNow);

                            <hr />
                        <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@auction.Auction.AuctionId">

                            <div class="box--item">
                                <div class="box--item--title">Tilte: @auction.Auction.Title</div>
                                <div class="box--item--price">@auction.Bid</div>
                                <div class="box--item--date">@auction.Auction.EndTime - end in @timeLeft.Days days </div>
                            </div>
                        </a>
                    }

                </div>
            </div>


            <div class="box box--vertical">
                <span class="box--text">
                    @WebApp.Resources.Shared.MyBids
                </span>
                <div class="box-shadow box--content">

                    @foreach (var bid in ViewBag.MyBids)
                    {
                        TimeSpan timeLeft = (TimeSpan)(bid.Auction.EndTime - DateTime.UtcNow);

                        <hr />
                        <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@bid.Auction.AuctionId">

                            <div class="box--item">
                                <div class="box--item--title">Tilte: @bid.Auction.Title</div>
                                <div class="box--item--price">@bid.Price</div>
                                <div class="box--item--date">@bid.Auction.EndTime - end in @timeLeft.Days days </div>
                            </div>
                        </a>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script defer>
    $('#buttonsDropdown').hide();
</script>


<script>

    function generateNewApiKey(){
        $.post("@Url.Action("CreateNewKey","ApiKeys")",
            function (data) {
                $("#generateAPiKeyResult").show();
                $("#generateAPiKeyResult").html("<p>" + data.message + "</p>");
            }
        );
    }

    function showAuctionTypesDropdown() {
        $('#buttonsDropdown').toggle();
    }

    @*function showAuction(type) {
        alert(type);

        //@auctions = type.val();
        //console.log(@auctions);

        var elem = document.getElementById("aType");

        alert(elem);
    }*@

@*
    function showDropdown() {
        alert('aaaa');
        
        //
        
    }

    document.getElementById('dropdown').addEventListener('click', showDropdown


    function Show(type) {
        auctionType = type;
    }

    $("#displayAuctions").submit(function (event) {
        $.post("@Url.Action("UserAccount","Users")", new
            {
                id: @ViewBag.User.UserId
                auctionType: auctionType,
            },
        );
    });
    *@

</script>