@using WebApp.Models

@{
    string auctions = "all";

}


<div class="userAccount--container">

    <div class="box--container">

        <div class="box box--horizontal">
            <div class="box box--content">
                <h1 class="box--text">Welcome, @ViewBag.User.Name</h1>
            </div>

            <div class="box box--content box--center">
                <a asp-action="Create" asp-controller="Auctions" class="button button--secondary button--rounded button--group button--group--first d--flex"><span>New Auction</span> </a>
                <a asp-action="UserEdition" asp-route-id="@ViewBag.User.UserId" class="button button--secondary button--rounded button--group d--flex"> <span>Edit Account</span> </a>
                <a asp-controller="Reports" asp-action="MyAuctionsHistoryCsv" asp-route-id="@ViewBag.User.UserId" class="button button--secondary button--rounded button--group d--flex"><span>@WebApp.Resources.Shared.MyAuctionsCsv</span></a>
                <a asp-controller="Reports" asp-action="MyAuctionsHistoryPdf" asp-route-id="@ViewBag.User.UserId" class="button button--secondary button--rounded button--group d--flex"><span>@WebApp.Resources.Shared.MyAuctionsPdf</span></a>
                <a class="button button--secondary button--rounded button--group button--group--last d--flex" onclick="generateNewApiKey()"><span>@WebApp.Resources.Shared.GenerateApiKey</span></a>
            </div>

        </div>

        <div id="generateAPiKeyResult" class="background--secondary text--primary" style="text-align: center; padding: 0.5vh; display: none;"></div>

        <div class="box box--horizontal">

            <div class="box box--vertical">
                <div class="header" >
                    <span class="box--text">
                        @WebApp.Resources.Shared.MyAuctions
                    </span>

                    <button type="button" class="btn button dropdown--button" onclick="showAuctionTypesDropdown()" id="myAuctDropdown">
                        <svg width="45" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg--icon" >
                            <rect width="48" height="48" fill="white" fill-opacity="0.01" />
                            <path d="M40 28L24 40L8 28" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8 10H40" stroke-width="1" stroke-linecap="round" />
                            <path d="M8 18H40" stroke-width="1" stroke-linecap="round" />
                        </svg>
                    </button>
                </div>

                <div style="display: flex; justify-content: end">

                    <input type="hidden" name="changeAuctions" id="auctions" />

                    <div id="buttonsDropdown" class="dropdown--auctions text--primary background--primary border--primary slider--fade">
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="all"  >
                        <button type="submit" value="Show All" class="btn button text--primary background--primary" style="width: 100%">
                                    @WebApp.Resources.Shared.ShowAll
                        </button>
                    </form>
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="draft" >
                        <button type="submit" value="Show Draft" class="btn button text--primary background--primary" style="width: 100%">
                                @WebApp.Resources.Shared.ShowDraft
                        </button>
                    </form>
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="active" >

                        <button type="submit" value="Show Active" class="btn button text--primary background--primary" style="width: 100%">
                                @WebApp.Resources.Shared.ShowActive
                        </button>
                    </form>
                    <form name="theForm" method="post" id="displayAuctions" asp-action="UserAccount" asp-route-id="@ViewBag.User.UserId" asp-route-auctionType="ended" >
                        <button type="submit" value="Show Ended" class="btn button text--primary background--primary" style="width: 100%">
                                @WebApp.Resources.Shared.ShowEnded
                        </button>
                    </form>
                    </div>
                </div>
                <div class="box-shadow box--content box--510--w--scroll">
                   
                    @foreach(var auction in ViewBag.MyAuctions)
                    {
                        <hr />
                        <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@auction.AuctionId" class="text--primary">
                            <div class="box--item">
                                <div class="box--item--title">Tilte: @auction.Title</div>
                                @if (@auction.Status == AuctionStatus.Draft)
                                {
                                    <div id="aType" class="box--item--price">Draft</div>
                                }
                                else if (auction.Status == AuctionStatus.Ended)
                                {
                                    <div id="aType" class="box--item--price">Ended</div>
                                }
                                else {
                                    <div id="aType" class="box--item--price">Active</div>
                                }
                                <div class="box--item--date">CreationTime: @auction.CreationTime</div>
                            </div>
                        </a>
                    }

                </div>

            </div>


            <div class="box box--vertical">
                <span class="box--text">
                    @WebApp.Resources.Shared.Observed
                </span>
                <div class="box-shadow box--content box--510--w--scroll">

                    @foreach (var auction in ViewBag.MyObservedAuctions)
                    {
                        TimeSpan timeLeft = (TimeSpan)(auction.Auction.EndTime - DateTime.UtcNow);

                            <hr />
                        <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@auction.Auction.AuctionId" class="text--primary">

                            <div class="box--item">
                                <div class="box--item--title">Tilte: @auction.Auction.Title</div>
                                <div class="box--item--price">@auction.Bid</div>
                                <div class="box--item--date">@auction.Auction.EndTime - end in @timeLeft.Days days </div>
                            </div>
                        </a>
                    }

                </div>
            </div>


            <div class="box box--vertical">
                <span class="box--text">
                    @WebApp.Resources.Shared.MyBids
                </span>
                <div class="box-shadow box--content box--510--w--scroll">

                    @foreach (var bid in ViewBag.MyBids)
                    {
                        TimeSpan timeLeft = (TimeSpan)(bid.Auction.EndTime - DateTime.UtcNow);

                        <hr />
                        <a asp-action="Auction" asp-controller="Auctions" asp-route-id="@bid.Auction.AuctionId" class="text--primary">

                            <div class="box--item">
                                <div class="box--item--title">Tilte: @bid.Auction.Title</div>
                                <div class="box--item--price">@bid.Price</div>
                                <div class="box--item--date">@bid.Auction.EndTime - end in @timeLeft.Days days </div>
                            </div>
                        </a>
                    }
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script defer>
    $('#buttonsDropdown').hide();
</script>


<script>

    function generateNewApiKey(){
        $.post("@Url.Action("CreateNewKey","ApiKeys")",
            function (data) {
                $("#generateAPiKeyResult").show();
                $("#generateAPiKeyResult").html("<p>" + data.message + "</p>");
            }
        );
    }

    function showAuctionTypesDropdown() {
        $('#buttonsDropdown').toggle();
    }

</script>