<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortalAukcyjny</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared.css" />
    <link rel="stylesheet" href="~/css/@(Context?.Items["cssFile"]?.ToString() ?? "dark").css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="@(Context?.Items["theme"]?.ToString() ?? "dark-mode") background--primary text--primary">
    <header>
        <nav class="header--navigation">
            <div class="header--logo">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PortalAukcyjny</a>
            </div>
            <div class="header--searchbar">
                <partial name="_Searchbox"></partial>
            </div>
            <div class="header--right">
                <div>
                    <ul class="navbar-nav flex-grow-1 loginSection">
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            @if (Context.Items["role"] == "admin")
                            {
                                <li>
                                    <a class="button button--rounded button--secondary a--no--style" asp-action="AdminPanel" asp-controller="Admin" style="margin-right:1.5vw">@WebApp.Resources.Shared.AdminPanel</a>
                                </li>
                            }

                            <li>
                                <partial name="/Views/Authentication/_LogoutButton.cshtml" />
                            </li>
                        }
                        else
                        {
                            <li>
                                <partial name="/Views/Authentication/_LoginButton.cshtml" />
                            </li>
                        }
                    </ul>
                </div>
                @if(Context.User.Claims.Any()){


                        <div class="username--box text--primary background--primary border--primary">
                            <a asp-action="UserAccount" asp-controller="Users" asp-route-id="@Context.User.Claims.FirstOrDefault(c => c.Type.ToLower().Contains("userid")).Value" class="text--primary">
                            <span>@Context.User.Claims.FirstOrDefault(c => c.Type.ToLower().Contains("name")).Value</span>
                            <button class="round--svg--button text--primary background--primary border--primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                </svg>
                            </button>
                            </a>
                       </div>
                        <button class="round--svg--button text--primary background--primary border--primary">
                    <a asp-action="Index" asp-controller="Chat" class="text--primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg>
                    </a>
                        </button>
                }
                <partial name="_ChooseThemePartial"></partial>
            </div>
            


        </nav>
    </header>
    <div class="container text--primary page--content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </div>
    
	<footer class="border-top footer text-muted">
        <div class="visit--counter">
            <h2>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
            </svg>
            @Context.Items["VisitCounter"]
            </h2>
        </div>
        <div>
			&copy; 2022 - PortalAukcyjny
		</div>
		
		<div>
			<ul class="navbar-nav flex-grow-1 loginSection">
				@if (Context.User.Identity.IsAuthenticated)
                {
                    @if (Context.Items["role"] == "admin")
                    {
                        <li>
                            <a class="button button--rounded button--secondary a--no--style" asp-action="AdminPanel" asp-controller="Admin" style="margin-right:1.5vw">@WebApp.Resources.Shared.AdminPanel</a>
                        </li>
                    }
                    <li>
                        <a class="button button--rounded button--secondary a--no--style" asp-action="Top" asp-controller="Auctions" style="margin-right:1.5vw">@WebApp.Resources.Shared.TopAuctions</a>
                    </li>
                    
					<li class="currentLogin">
						@WebApp.Resources.Shared.LoggedInAs @Context.User.Identity.Name
					</li>
					<li>
						<partial name="/Views/Authentication/_LogoutButton.cshtml"/>
					</li>
				}
				else
				{
					<li>
						<partial name="/Views/Authentication/_LoginButton.cshtml"/>
					</li>
				}
			</ul>
		</div>
	</footer>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.onclick = function (e) {
            if ($(e.target).closest("#searchGroup").length === 0) {
                $('#searchBox').hide();
                $("#searchString").css({ "border-bottom": "1px solid", "border-radius": "25px 0px 0px 25px" });
            }

            if ($(e.target).closest("#ThemeForm").length === 0) {
                $('#dropdown').hide();
                $("#dropdown_main").css("border-radius", "50%");
            }
        };
    </script>

</body>
</html>


