@{
}
@using WebApp.Models
@using Microsoft.Extensions.Options
@inject IOptions<GoogleRecaptchaModel> GoogleCaptchaConfig

<form method="post" action="/ElasticSearch/Search" id="searchForm" class="header--searchbar--form">
    <input type="hidden" id="recaptcha-response" name="token"/>
<div class="header--searchbar--group" id="searchGroup">
    <input type="text" class="header--searchbar--input text--primary background--primary border--primary" placeholder="@WebApp.Resources.Shared.Search" id="searchString" name="query" oninput="getCompletion()" autocomplete="off"/>
    <div class="header--searchbar--box text--primary background--primary border--primary" style="z-index: 10;" id="searchBox">
        <hr />
        <p>
            <a id="search_tooltip_0" href="/" style="text-decoration: none;" class="text--primary"></a>
        </p>
        <p>
            <a id="search_tooltip_1" href="/" style="text-decoration: none;" class="text--primary"></a>
        </p>
        <p>
            <a id="search_tooltip_2" href="/" style="text-decoration: none;" class="text--primary"></a>
        </p>
        <p>
            <a id="search_tooltip_3" href="/" style="text-decoration: none;" class="text--primary"></a>
        </p>
        <p>
            <a id="search_tooltip_4" href="/" style="text-decoration: none;" class="text--primary"></a>
        </p>
    </div>
</div>
<select class="header--searchbar--select text--primary background--primary border--primary">
    <option>Option1</option>
    <optgroup label="Option2">
        <option>Option2.1</option>
        <option>Option2.2</option>
        <option>Option2.3</option>
        <option>Option2.4</option>
    </optgroup>
    <option>Option3</option>
    <optgroup label="Option4">
        <option>Option4.1</option>
        <option>Option4.2</option>
        <option>Option4.3</option>
        <option>Option4.4</option>
    </optgroup>
</select>
    <button class="header--searchbar--button text--primary background--primary border--primary" type="submit" onsubmit="validateUser()"
            onclick="onClick()"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
    </svg>
</button>

</form>

<div class="filter--panel text--primary background--primary border--primary">
    <select class="filter--select text--primary background--primary border--primary">
    <option>Filter 1</option>
    <option>Filter 2</option>
    <option>Filter 3</option>
</select>

<select class="filter--select text--primary background--primary border--primary">
    <option>Filter 2.1</option>
    <option>Filter 2.2</option>
    <option>Filter 2.3</option>
</select>

    <div class="filter--price text--primary background--primary border--primary">
        <span class="filter--price--title text--primary background--primary border--primary">@WebApp.Resources.Shared.Price</span>
        <input type="number" class="filter--price--from text--primary background--primary border--primary" placeholder="@WebApp.Resources.Shared.PriceFrom" />
        <input type="number" class="filter--price--to text--primary background--primary border--primary" placeholder="@WebApp.Resources.Shared.PriceTo" />
</div>

</div>
<script>
 
    function showTooltipAtIndex(index, href, content) {
        let obj = $("#search_tooltip_" + index); 
        obj.html(content);
        obj.attr("href", href);
        obj.show();
    }

    function hideTooltipAtIndex(index) {
        $("#search_tooltip_" + index).hide();
    }

    function getCompletion(){
        var input = $("#searchString");
        var currentInput = input.val();


        if(currentInput.length > 2){
            $.get("@Url.Action("GetSearchIdea","ElasticSearch")",
                {
                    text: currentInput
                },
                function (data) {
                    if (data.result != null) {
                        
                        for (let i = 0; i < data.result.length; i++) {
                            showTooltipAtIndex(i, "@Url.Action("Details","Auctions")"+"/"+data.result[i].id, data.result[i].title);
                        }
                        for (let i = data.result.length; i < 5; i++) {
                            hideTooltipAtIndex(i);
                        }

                        $("#searchBox").show();
                        input.css({ "border-bottom": "0px", "border-radius": "25px 0px 0px 0px" });
                    }else {
                        $("#searchBox").hide();
                        input.css({ "border-bottom": "1px solid", "border-radius": "25px 0px 0px 25px" });
                    }
                }
            );
        }
        else{
            $("#searchBox").hide();
            input.css({ "border-bottom": "1px solid", "border-radius": "25px 0px 0px 25px" });
        }
    }
</script>


<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
<script>
        $(function(){

        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                document.getElementById("recaptcha-response").value = token;
            });
        });
        });
</script>