@model List<WebApp.Models.CurrencyExchangeRate>

@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>@Model[0].CurrencyCode Currency Rate History</h4>
        <hr />
        <a asp-action="Index">Back to List</a>

        <table class="table" style="text-align: center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].CurrencyCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].ExchangeRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].LastUpdatedTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExchangeRate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastUpdatedTime)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
