@model WebApp.Models.CurrencyExchangeRate

@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>CurrencyExchangeRate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CurrencyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
