@model WebApp.Models.ObservedAuction

@{
    ViewData["Title"] = "Delete";
}

<div class="form--container container">
    <div class="form--heading">
        <h3 class="text--secondary">Are you sure you want to unsubscribe this auction?</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-0"></div>
    <div class="col-md-6">
        <div>
            <h4>ObservedAuction</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.User.UserId)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Auction)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Auction.Title)
                </dd>
            </dl>

            <div class="form--buttons">
                @Html.ActionLink("UnSubscribe", "DeleteConfirmed", "ObservedAuctions", 
                    new { aId = Model?.AuctionId, uId = Model?.UserId}, 
                    new { @class="button button--secondary button--rounded" })
                <a asp-action="Index" class="button button--secondary button--rounded">Back to List</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-0"></div>
</div>


