@model IEnumerable<WebApp.Models.ObservedAuction>
@using WebApp.Models;

@{
    ViewData["Title"] = "";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<title>Index</title>
<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_pager" model="@pager" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auction.Title)
            </td>
            <td>
                <div class="form--buttons">
                    @Html.ActionLink("UnSubscribe", "Delete", new { aId = item.AuctionId, uId = item.UserId }, new { @class="button button--secondary button--rounded"})
                </div>
                
                <div class="form--buttons">
                    @Html.ActionLink("Details", "Details", new { aId = item.AuctionId, uId = item.UserId }, new { @class="button button--secondary button--rounded"})
                </div>

            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_pager" model="@pager" />