@using Auth = WebApp.Resources.Authentication.Localization
@using WebApp.Resources

<div class="modal-dialog ">
    <div class="modal-content background--primary">
        <div class="modal-header">
            <h4 class="modal-title text--primary">@Auth.Login</h4>
        </div>
        <form id="loginForm" action="/Authentication/Login" method="post">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 text-muted">
                            <label for="mail">@Auth.Email</label>
                            <input type="text" id="loginFormMail" name="mail" value="admin" />
                            <label for="password">@Auth.Password</label>
                            <input type="password" id="loginFormPassword" name="password" value="admin" />
                            <input type="hidden" id="loginFormReturnUrl" name="url"/>
                            <div id="loginFormMessage" class="text-danger" style="display:none;">@Auth.WrongCredentials</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">@Auth.Login</button>
                <button type="button" class="btn btn-default text--secondary" onclick="HideModal()">@Shared.Close</button>
            </div>
        </form>
        <form action="/Authentication" method="post">
            <input type="hidden" id="CurrentUrl" name="url" />
            <a class="btn btn-primary"  asp-area="" asp-controller="Authentication" asp-action="Register">Register</a>
            <input class="btn btn-primary" type="submit" value="Google" formaction="/Authentication/LoginGoogle"/>
            <input class="btn btn-primary" type="submit" value="Facebook" formaction="/Authentication/LoginFacebook"/>
        </form>
    </div>
</div>


<script>
    $( "#loginForm" ).submit(function( event ) {
        $("#loginFormMessage").hide();
        event.preventDefault();
        $("#loginFormReturnUrl").val(window.location.toString());
        $.post("@Url.Action("ValidateCrenedtials","Authentication")",
            {
                mail: $("#loginFormMail").val(),
                password: $("#loginFormPassword").val(),
            },
            function (data) {
                debugger;
                if (!data.valid) {
                    $("#loginFormMessage").show();
                } else {
                     $( "#loginForm" ).unbind('submit').submit()
                }
            }
        );
    });

    $("#CurrentUrl").val(window.location.toString());

</script>